

html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
  }
  
  *,*::before,*::after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #a4acc4;
    background-color:#10121B;
  }

a{
  text-decoration:none;
  color: #a4acc4;
  transition: all .4s ease-out;
}

ul, li {
  list-style:none;
  margin:none;
  padding:none;
}

  .wrapper{
    padding-left:280px;
}

  img {
    width:100%;
    height: auto;
    object-fit: cover;
  }
  
  /* CONTAINER */
.container {
  width: 100%;
  max-width: 1170px !important;
  margin-left: auto;
  margin-right: auto;
}
  
.tsparticles-canvas-el{
  left:300px !important;
}

.not-found{
  text-align: center;
  font-size: 3rem;
  margin:50px auto;
}


@-webkit-keyframes rubberBand {
  0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1)
  }

  30% {
      -webkit-transform: scale3d(1.25, .75, 1);
      transform: scale3d(1.25, .75, 1)
  }

  40% {
      -webkit-transform: scale3d(.75, 1.25, 1);
      transform: scale3d(.75, 1.25, 1)
  }

  50% {
      -webkit-transform: scale3d(1.15, .85, 1);
      transform: scale3d(1.15, .85, 1)
  }

  65% {
      -webkit-transform: scale3d(.95, 1.05, 1);
      transform: scale3d(.95, 1.05, 1)
  }

  75% {
      -webkit-transform: scale3d(1.05, .95, 1);
      transform: scale3d(1.05, .95, 1)
  }

  100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1)
  }
}

@keyframes rubberBand {
  0% {
      -webkit-transform: scale3d(1, 1, 1);
      -ms-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1)
  }

  30% {
      -webkit-transform: scale3d(1.25, .75, 1);
      -ms-transform: scale3d(1.25, .75, 1);
      transform: scale3d(1.25, .75, 1)
  }

  40% {
      -webkit-transform: scale3d(.75, 1.25, 1);
      -ms-transform: scale3d(.75, 1.25, 1);
      transform: scale3d(.75, 1.25, 1)
  }

  50% {
      -webkit-transform: scale3d(1.15, .85, 1);
      -ms-transform: scale3d(1.15, .85, 1);
      transform: scale3d(1.15, .85, 1)
  }

  65% {
      -webkit-transform: scale3d(.95, 1.05, 1);
      -ms-transform: scale3d(.95, 1.05, 1);
      transform: scale3d(.95, 1.05, 1)
  }

  75% {
      -webkit-transform: scale3d(1.05, .95, 1);
      -ms-transform: scale3d(1.05, .95, 1);
      transform: scale3d(1.05, .95, 1)
  }

  100% {
      -webkit-transform: scale3d(1, 1, 1);
      -ms-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1)
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand
}

/* --------------------------- */
/* RESPONSIVE */
@media (max-width:767px) {
  .wrapper{
    padding-left:0px;
}

.tsparticles-canvas-el{
  left:0px !important;
}
 }